<section class="mastery-menu">
  <p class="total-mast-levels">All-Time Levels: {{ getTotalMasteryLevels() }} | Levels To Spend {{ gameService.game().mastLevelAmount }}</p>
  <div class="mastery-wrapper">
    @for (mastery of masteries(); track $index) {
    <div class="mastery">
      <p class="mastery-title">{{ mastery.tier }}</p>
      <div class="mast-progress-bar">
        <p>{{ mastery.amount }}/{{ mastery.costToLevelUp }}</p>
        <mat-progress-bar
          [value]="(mastery.amount / mastery.costToLevelUp) * 100"
          mode="determinate"
          color="accent"
        ></mat-progress-bar>
      </div>
      <p>Level: {{ mastery.level }}</p>
    </div>
    }
  </div>
  <div class="mast-level-shop">
    @for (mastShopItem of this.gameService.game().mastShopItems; track $index) {
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ mastShopItem.name }}</mat-card-title>
        <mat-card-subtitle>{{ mastShopItem.desc }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ mastShopItem.level }}</p>
      </mat-card-content>
      <mat-card-footer>
        <button type="button" (click)="getMastShopLevel(mastShopItem)">Buy!</button>
      </mat-card-footer>
    </mat-card>
    }
  </div>
</section>
