<section id="optionsMenu" class="menu">
    <div id="optionsContainer" class="optionsContainer">
        <div id="fontContainer" class="fontContainer">
            <p class="optionFont">Font:</p>
            <button id="prevFont">&#8592;</button>
            <select id="fontSelector" class="fontSelector">
                <option value="'Montserrat', sans-serif">Montserrat</option>
                <option value="'Nabla', cursive">Nabla</option>
                <option value="'Raleway', sans-serif">Raleway</option>
                <option value="'Saira Condensed', sans-serif">
                    Saira Condensed
                </option>
                <option value="'Source Code Pro', monospace">
                    Source Code Pro
                </option>
            </select>
            <button id="nextFont">&#8594;</button>
        </div>
        <!-- <div id="languageContainer" class="languageContainer">
            <p class="optionLanguage">Language:</p>
            <button id="prevLanguage">&#8592;</button>
            <select id="languageSelector" class="languageSelector">
                <option value="en">English</option>
                <option value="es">Español</option>
            </select>
            <button id="nextLanguage">&#8594;</button>
        </div> -->
    </div>
</section>
