<section id="cardsMenu" class="menu">
    <div id="cardsHeaderContainer">
        @for (pack of packService.packs; track $index) {
            <div class="cardsButton" (click)="getPack(pack.type)" >
                @if (isCardPackUnlocked(pack)) {
                    <div class="cardsHeaderContainer">
                        <button class="cardsButton">Get a Pack! | Cost: {{pack.cost | exponentialNumber}}</button>
                    </div>
                }
            </div>
        }
    </div>
    <p id="cardBonus" class="cardBonus"> {{ this.cardService.getBonus() }}</p>
    <div id="cardsContainer" class="cardsContainer">
        @for (cardGroup of groupedCards | keyvalue; track $index) {
            <div [ngClass]="getCardType(cardGroup.value[0])" class="normalCard" [attr.data-tooltip]="cardGroup.value[0].description">
                {{cardGroup.value[0].name}}
                <div class="cardCounter">{{cardGroup.value.length}}</div>
            </div>
        }
    </div>
</section>
