<app-words-to-guess></app-words-to-guess>
<app-wordbox></app-wordbox>
<app-points-counter></app-points-counter>
<app-navbar></app-navbar>
@switch (menuService.activeMenu()) {
    @case ('active') {
        <app-active-menu></app-active-menu>
    }
    @case ('passive') {
        <app-passive-menu></app-passive-menu>
    }
    @case ('upgrades') {
        <app-upgrades-menu></app-upgrades-menu>
    }
    @case ('cards') {
        <app-cards-menu></app-cards-menu>
    }
    @case ('modules') {
        <app-modules-menu></app-modules-menu>
    }
    @case ('mastery') {
        
    }
    @case ('challenges') {
        
    }
    @case ('minigames') {
        
    }
    @case ('market') {
        
    }
    @case ('prestige') {
        
    }
    @case ('achievements') {
        <app-achievements-menu></app-achievements-menu>
    }
    @case ('stats') {
        <app-stats-menu></app-stats-menu>
    }
    @case ('options') {
        <app-options-menu></app-options-menu>
    }
}