@import "../../../shared/shared.scss";

.multiUpgradesButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: var(--medium-custom-text);
  text-align: center;
}

.multiUpgrade {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-block: 2rem;
  width: clamp(10rem, 20vw, 50rem);
  aspect-ratio: 5 / 6;
  font-family: var(--secondary-font);
  font-size: var(--medium-custom-text);
  border-radius: 3rem;
  background: var(--primary-900);
  overflow: hidden;
  padding: 1rem;
}

.multiUpgradeName {
  font-size: var(--medium-custom-text);
}

.multiUpgradeDesc {
  font-size: var(--small-custom-text);
}

.multiUpgrade > p {
  z-index: 1;
  margin: 0;
}

.multiUpgrade::after {
  content: "";
  position: absolute;
  transition: background-position 250ms ease, transform 250ms ease;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    45deg,
    transparent,
    var(--primary-700),
    var(--primary-200)
  );
  background-position: 0%;
  background-size: 200%;
  inset: -50%;
}

.multiUpgrade:hover::after {
  background-position: 100%;
  transform: rotate(180deg);
}

.disabled {
  opacity: 0.25;
  pointer-events: none;
}

.upgrades-container {
    display: flex;
    gap: 4rem;
    justify-content: space-evenly;
}
.upgrades-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.upgrade-square {
    font-size: var(--small-custom-text);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    border-radius: 0.5rem;
    border: 0.25rem solid var(--primary-400);
    max-width: 20dvw;
    color: var(--black-900);
}

.upgrade-name-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    min-height: 3rem;
}

.upgrade-name {
    text-align: start;
}

.upgrade-description-wrapper {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.buy-button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.buy-button {
    background-color: var(--black-900);
    border-radius: 0.5rem;
    max-width: 7rem;
    float: right;
    aspect-ratio: 2/1;
}

.upgrade-cost {
    font-size: var(--xsmall-custom-text);
}

.upgrade-information {
    display: flex;
    justify-content: space-between;
}

.equal-height {
    flex: 1;
}

.inactive {
    background-image: linear-gradient(to bottom, var(--primary-200) 50%, var(--primary-300) 50%, var(--primary-300) 100%);
}

.active {
    color: white;
    background-image: linear-gradient(to bottom, var(--green) 50%, var(--dark-green) 50%, var(--dark-green) 100%);
}

.upgrade-square.locked {
  filter: grayscale(100%);
  cursor: not-allowed;
}
.upgrade-square.locked:hover {
  transform: none; /* Desactiva cualquier efecto hover */
}