<section id="achievementsMenu" class="menu">
  <div id="achievementContainer" class="achievementContainer">
    @for (achievement of this.achievementService.groupedAchievements | keyvalue;
    track $index) {
    <app-achievement-card
      [groupName]="achievement.key"
      [achievements]="achievement.value"
      [currentValue]="getPlayerValueFor(achievement.value[0].property)"
    ></app-achievement-card>
    } @for (achievement of this.achievementService.individualAchievements; track
    $index) { 
      <div class="achievement-individual">
        <mat-card-title>{{ achievement.name }}</mat-card-title>
        <mat-card-subtitle>{{ achievement.description }}</mat-card-subtitle>
        <div class="achievement-individual-status">
          {{ getAchievementProgress(achievement) === 100 ? "Unlocked" : "Locked" }}
        </div>
      </div>
      }
  </div>
</section>
