<section id="achievementsMenu" class="menu">
  
  <div id="achievementContainer" class="achievementContainer">
    @for (group of this.achievementService.groupedAchievements | keyvalue;
    track $index) {
      @if(hasRevealedAchievements(group.value)) {
        <app-achievement-card
        [groupName]="group.key"
        [achievements]="group.value"
        [currentValue]="getPlayerValueFor(group.value[0].property)"
        ></app-achievement-card>
      } @else {
        <div class="hidden-achievement">???</div>
      }
    } @for (achievement of this.achievementService.individualAchievements; track
    $index) { 
      @if(achievement.revealed) {

        <div class="achievement-individual">
          <mat-card-title>{{ achievement.name }}</mat-card-title>
          <mat-card-subtitle>{{ achievement.description }}</mat-card-subtitle>
          <div class="achievement-individual-status">
            {{ getAchievementProgress(achievement) === 100 ? "Unlocked" : "Locked" }}
          </div>
        </div>
      } @else {
        <div class="hidden-achievement">???</div>
      }
    }
  </div>
</section>
