@import '../../../../shared/shared.scss';
.achievement-card {
    text-align: center;
    background-color: var(--primary-300);
    aspect-ratio: 3/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    mat-card-title {
      font-size: 1.3rem;
      font-weight: bold;
      font-family: 'RobotoLocal';
    }
  
    mat-card-subtitle {
      margin-bottom: 0.5rem;
      font-style: italic;
      font-family: 'RobotoLocal';
    }
  
    mat-progress-bar {
      margin-top: 0.5rem;
      height: 10px;
      border-radius: 5px;
    }
  
    .achievement-count {
      margin-top: 0.5rem;
      font-weight: bold;
    }
  }
  